
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 100px;
    font-size: 1.6rem;
    color: var(--primary-background-color);
}

.board > button {
    all: unset;
    margin-top: 1rem;
    padding: 0.4rem;
    align-items: center;
    color: var(--primary-font-color);
    font-size: 0.9rem;
    background-color: var(--primary-background-color);
    border: 2px solid var(--primary-background-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.board-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.player-turn {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    font-size: 1.5rem;
    opacity: 0.8;
}

.player-turn > span {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out
}